**/*.asv
**/__pycache__/
main/*mat
!main/tmpCELLdatax.mat
!main/tmpCELLdatax2.mat
!main/tmpCELLdatay.mat
!main/tmpCELLdatay2.mat
!main/NF00ref_YHWANG_fis4python.mat
main/*.swp
main/*.m~
mat/
main/movingavg/
main/check_png/
main/*.dat
main/*.png
main/tracking_points/*/
main/MIGFA/*.m~
MIGFAdat/
V06
netcdf
NFFIG
IMG/*mat
ieee2016
